{
    "layer": "top", // Waybar at top layer
    "position": "bottom", // Waybar position (top|bottom|left|right)
    "height": 38, // Waybar height (to be removed for auto height)
//"width": 700, // Waybar width
    "spacing": 8, // Gaps between modules (4px)
    // Choose the order of the modules
//    "modules-left": [],
    "modules-center": ["wlr/workspaces","wlr/taskbar"],


    "wlr/taskbar": {
        "format": "{icon} {name}",
        "icon-size": 32,
        "tooltip-format": "{title}",
        "ignore-list": [
            "lxqt-runner"
        ],
        "on-click": "minimize-raise",
        "on-click-middle": "close",
        "on-click-right" : "maximize"
    },
}



