{
    "layer": "top", // Waybar at top layer
    "position": "bottom", // Waybar position (top|bottom|left|right)
    "height": 45, // Waybar height (to be removed for auto height)
//"width": 700, // Waybar width
    "spacing": 8, // Gaps between modules (4px)
    // Choose the order of the modules
//    "modules-left": [],
    "modules-center": ["memory","wlr/taskbar","cpu"],


    "wlr/taskbar": {
        "format": "{title}",
        "icon-size": 22,
        "icon-theme": "Papirus",
        "tooltip-format": "{name} - {title}",
        "ignore-list": [
            "conky (manjaro)",
            "lxqt-notificationd"
        ],
        "on-click": "minimize-raise",
        "on-click-middle": "close",
        "on-click-right" : "maximize"
    },

        "memory": {
        "format": " {}%",
        "tooltip": "true",
        "on-click": "sudo freeram"
    },

    "cpu": {
     "format": " {usage}%",
        "tooltip": true,
        "on-click": "qps",
        "interval": "2"
    },

}
}


