function("SfwbarInit") {
  SetBarId "bar-0"
  SetLayer "bottom"
  SetExclusiveZone "auto"
  SetMonitor "eDP-1"
  SetBarSize "70%"
}

# Panel layout

layout "sfwbar" {

  taskbar {
    rows = 1
    group = false
    icons = true
    labels = true
    action[2] = Close
    action[3] = Maximize
    title_width= 20
  }

  label { css = "* { -GtkWidget-hexpand: true; min-height: 28px; }" }

}

#CSS
@define-color theme_bg_color #353231;
@define-color theme_fg_color #d1d1d1;
@define-color borders #777777;

window {
  -GtkWidget-direction: bottom;
    background-color: transparent;
}

label {
  font: 18px sans;
  text-shadow: none;
}

button
{
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border: solid 1px transparent;
  border-radius: 6px;
  margin: 3px;
}


button#taskbar_normal image,
button#taskbar_active image,
button#taskbar_normal:hover image {
  min-width: 28px;
  min-height: 28px;
  margin-right: 3px;
}


button#taskbar_normal,
button#taskbar_active,
button#taskbar_normal:hover {
  box-shadow: none;
  -GtkWidget-hexpand: false;
  -GtkWidget-vexpand: false;
  min-height: 0px;
  border: solid 1px transparent;
  color:#e7e7e7;
}

button#taskbar_active {
  background: grey;
  border: solid 1px white;
  color: #000000;
}


button#taskbar_normal:hover {
  background: grey;
  border: solid 1px white;
  color: #000000;
}



* {

}
