// Workspaces
workspace "Rete" {
   open-on-output "eDP-1"
   layout {
    struts {
         left -6
         right -6
         top -8
         bottom -8
           }
    }
}
workspace "Gente"{
 open-on-output "HDMI-A-1"
}
workspace "Git"{
 open-on-output "HDMI-A-1"
}
workspace "Media"{
 open-on-output "HDMI-A-1"
}

